.staff{
    background-color: rgb(165, 164, 164);
    font-family: 'Roboto Mono', monospace;
}

footer{
    background-color: black;
    color: white;
}

#Nuestra{
    color: white;
    font-family: 'Roboto Mono', monospace;
}